In [5832]:
import pandas as pd
import numpy as np

df_read = pd.read_excel('9. [Assignment]_Crowdfunding_ex.xlsx')

# 0. Renaming columns

In [5833]:
df_read.rename(columns={'보상수': '#ofRewards', 'Fiends': 'Friends'}, inplace=True)

# 1. Reserving test set from the original dataset

In [5834]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(
    df_read, stratify=df_read['Success'], test_size=0.2, random_state=42)

print(f"Train set size: {len(df_train)}")
print(f"Test set size: {len(df_test)}")
df_train['is_train'] = True
df_test['is_train'] = False

df = pd.concat([df_train, df_test])
df.sort_index()

Train set size: 613
Test set size: 154

,Project ID,Title,Backers,Funded,FundedRate,Success,Country,CountryCode,ShortDescription,VideoCount,...,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments,is_train
0,prjt1,Give Ear Gospel Songs by Michael hathaway — Ki...,0,0.00,0.00,2,"Nashville, TN",1,In order to finish my album I need 4800.00 to ...,0,...,0,0,0,1,0,0,0,0,0,True
1,prjt2,Mentally Strong Book by Michelle Jacobi — Kick...,4,1140.00,11.40,2,"Marsing, ID",1,"After an MS diagnosis at age 29, Michelle Jaco...",0,...,0,0,0,9,0,0,0,0,0,False
2,prjt3,High Quality Delta 3D Printer For Everybode by...,0,0.00,0.00,2,"Deutsch, Germany",6,"Hi, my name is Jörn. I would like to create a ...",0,...,0,0,0,2,0,0,0,0,0,True
3,prjt4,United - Helping hand by Marco Da Veiga — Kick...,1,34.51,0.10,2,"Oslo, Norway",9,I am creating my dream. My love and passion fo...,0,...,0,0,0,4,0,0,7,2,0,False
4,prjt5,UNCLIP - Quick Release Carabiner/Bottle Opener...,1510,52471.00,1049.42,1,"San Diego, CA",1,Unclip is a Quick Release Carabiner/ Bottle Op...,0,...,0,0,4,8,18,31,13,88,13,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,prjt988,ZEUS HANDY TOOL: THE ULTIMATE TOOLBOX-IN-ONE b...,77,5427.00,15.50,2,"Sydney, AU",10,"A super tough toolbox-in-one, the Zeus Handy T...",0,...,0,0,5,8,1,6,1,0,0,True
763,prjt990,Central Illinois Youth Symphony 50th Anniversa...,32,3335.00,22.20,2,"Peoria, IL",1,Help us discover the sound of central Illinois...,0,...,0,0,0,9,0,0,3,0,0,True
764,prjt991,The Pizza Book by Aaron Quint + Michael Bernst...,1050,47317.00,169.00,1,"Kingston, NY",1,A cookbook written by two friends committed to...,0,...,0,2,3,15,2,13,10,50,5,False
765,prjt992,SKUTCHBOOK by Nate McD — Kickstarter,26,640.00,85.30,2,"Pittsburgh, PA",1,"In 138 comic pages shitty jobs, the dreams and...",0,...,4,0,6,10,1,2,6,0,2,False
766,prjt995,Brick Sound Kit by Chase and Chuck — Kickstarter,95,8156.00,45.30,2,"Boston, MA",1,"From the mind of a gifted child inventor, a ro...",2,...,0,2,0,14,0,0,3,2,0,False

# 2. Exploratory Data Analysis

In [5835]:
df.columns

Index(['Project ID', 'Title', 'Backers', 'Funded', 'FundedRate', 'Success',
       'Country', 'CountryCode', 'ShortDescription', 'VideoCount',
       'ImageCount', 'Tag', 'TagCode', 'Goal', 'Period', 'StartDate',
       'EndDate', 'Location', 'LocationCode', 'SNS', 'Friends', '#ofCreation',
       '#ofSuccess', '#ofInvest', '#ofInvestSuccess', '#ofRewards',
       '#ofCommenters', '#ofComments', 'Total_Updates', 'Updates_Likes',
       'Updates_Comments', 'is_train'],
      dtype='object')

## 2.1. Check missing or null values

In [5836]:
df.isnull().sum().any(axis=0)

False

## 2.2. Check duplicates

In [5837]:
df.duplicated().sum()

0

In [5838]:
df[df['Success'] == 1]

,Project ID,Title,Backers,Funded,FundedRate,Success,Country,CountryCode,ShortDescription,VideoCount,...,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments,is_train
402,prjt502,Flip - thinner and better British plug by Onea...,1097,41057.33,179.9,1,"London, UK",3,"1/3 of Size of the original British plug, fold...",1,...,1,0,2,24,39,56,7,54,20,True
356,prjt438,Unique Handmade Steampunk Jewelry by Ernoldas ...,31,1179.98,388.0,1,"Peterborough, UK",3,Unique Steampunk Jewelry made by hand using ol...,0,...,0,0,0,14,0,0,1,2,0,True
602,prjt743,Quilted Monkey Mat: Compact Carry for Luxuriou...,608,29367.00,293.7,1,"Austin, TX",1,"Quilted Monkey Mat is comfy, cushy, and portab...",0,...,0,0,0,13,3,8,5,33,1,True
123,prjt154,You're Fired by Jason Tagmire — Kickstarter,288,7458.00,372.9,1,"Collingswood, NJ",1,Have you ever wanted to fire the boss? The man...,1,...,8,5,27,5,12,51,4,14,2,True
628,prjt786,2016 Pivot Planner wall planners and PDFs by P...,124,3504.00,350.4,1,"Richmond, VA",1,More than a calendar: These PDFs and wall plan...,0,...,1,4,4,7,4,12,1,1,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,prjt356,A mobile computer lab bringing computer coding...,13,500.00,100.0,1,"St. Louis, MO",1,A unique way of bringing Stem education and co...,0,...,0,0,0,3,0,0,1,1,0,False
513,prjt634,Memody by Memody CIC — Kickstarter,56,2503.31,1645.0,1,"Manchester, UK",3,Raising the funds for a music service that wil...,4,...,0,0,0,1,0,1,0,0,0,False
126,prjt157,The Raft by Robert Jones — Kickstarter,108,6876.00,114.6,1,"New Haven, CT",1,"The Raft, based on the story by Peter Orner an...",0,...,0,1,8,14,0,0,10,34,2,False
597,prjt735,sQuishloc: on-the-go storage by Kiran Panjwani...,195,8457.00,105.7,1,"Downtown Toronto, Canada",2,Making snacking and storing on-the-go as simpl...,0,...,0,0,1,12,1,1,7,15,2,False
117,prjt145,TRUEnergy - World's First Organic Sports Shot ...,254,21947.00,109.7,1,"New York, NY",1,"Infused with vitamins, electrolytes, and green...",0,...,0,29,3,13,2,7,7,25,11,False

## 2.3. Check outliers using IQR (on train set)

In [5839]:
df.describe()

,Backers,Funded,FundedRate,Success,CountryCode,VideoCount,ImageCount,TagCode,Goal,Period,...,#ofCreation,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,7.670000e+02,767.000000,...,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,102.126467,9520.107132,698.734746,1.715776,2.370274,0.298566,7.451108,7.659713,2.331581e+05,33.535854,...,2.289439,0.242503,0.568449,1.868318,7.469361,1.920469,5.165580,2.286832,6.707953,1.474576
std,356.999621,44730.985067,17100.046080,0.451338,2.745241,1.092718,11.033767,4.000030,5.490664e+06,11.796953,...,3.281753,1.036472,2.023413,4.986627,6.207995,12.506299,30.336666,3.715555,24.066720,8.282484
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000e+00,1.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.930000,0.000000,1.000000,1.000000,0.000000,0.000000,5.000000,2.000000e+03,29.000000,...,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,455.000000,9.500000,2.000000,1.000000,0.000000,2.000000,7.000000,8.300000e+03,30.000000,...,1.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,59.000000,4503.500000,103.000000,2.000000,3.000000,0.000000,11.000000,11.000000,2.265442e+04,37.000000,...,1.000000,0.000000,0.000000,1.000000,10.000000,0.000000,1.000000,3.000000,3.000000,0.000000
max,5829.000000,949925.340000,473600.000000,2.000000,15.000000,12.000000,85.000000,15.000000,1.520589e+08,60.000000,...,20.000000,10.000000,29.000000,31.000000,56.000000,298.000000,702.000000,35.000000,332.000000,159.000000

In [5840]:
df_numeric = df.select_dtypes(include=['int64', 'float64'])
Q1 = df_numeric.quantile(0.25)
Q2 = df_numeric.quantile(0.5)
Q3 = df_numeric.quantile(0.75)
IQR = Q3 - Q1
IQR

Backers                58.000
Funded               4500.570
FundedRate            103.000
Success                 1.000
CountryCode             2.000
VideoCount              0.000
ImageCount             11.000
TagCode                 6.000
Goal                20654.415
Period                  8.000
LocationCode            2.000
SNS                     1.000
Friends               541.500
#ofCreation             0.000
#ofSuccess              0.000
#ofInvest               0.000
#ofInvestSuccess        1.000
#ofRewards              7.000
#ofCommenters           0.000
#ofComments             1.000
Total_Updates           3.000
Updates_Likes           3.000
Updates_Comments        0.000
dtype: float64

In [5841]:
IQR_DELTA = abs((df_numeric - Q2) / IQR)
IQR_DELTA

,Backers,Funded,FundedRate,Success,CountryCode,VideoCount,ImageCount,TagCode,Goal,Period,...,#ofCreation,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments
484,0.155172,0.089989,0.092233,0.0,0.0,NaN,0.181818,1.166667,11.702099,0.000,...,NaN,NaN,NaN,0.0,0.571429,NaN,0.0,0.000000,0.000000,NaN
314,0.086207,0.172645,0.058252,0.0,0.0,NaN,0.181818,0.333333,1.292702,0.000,...,NaN,NaN,NaN,1.0,0.428571,NaN,0.0,0.000000,0.000000,NaN
73,0.379310,0.775937,0.086408,0.0,2.5,inf,0.636364,0.666667,0.636479,0.000,...,NaN,NaN,NaN,1.0,0.571429,NaN,0.0,0.000000,0.000000,NaN
463,0.172414,0.101098,0.092233,0.0,0.5,NaN,0.181818,0.166667,0.353435,0.125,...,inf,NaN,NaN,0.0,0.428571,NaN,0.0,0.000000,0.000000,NaN
148,0.120690,0.055549,0.024272,0.0,0.0,NaN,1.090909,0.333333,0.082307,1.250,...,NaN,NaN,NaN,0.0,0.428571,NaN,1.0,1.000000,0.666667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,3.189655,1.777997,0.933981,1.0,0.5,NaN,2.454545,0.333333,0.014525,0.375,...,NaN,NaN,NaN,1.0,0.857143,inf,1.0,2.333333,5.000000,inf
727,0.172414,0.101098,0.092233,0.0,2.0,NaN,0.181818,1.166667,2.185237,3.375,...,NaN,NaN,NaN,0.0,0.714286,NaN,0.0,0.000000,0.000000,NaN
204,0.310345,0.471051,0.033010,0.0,0.0,NaN,1.000000,0.000000,0.566465,0.000,...,inf,inf,NaN,0.0,0.428571,NaN,0.0,0.000000,0.000000,NaN
380,0.155172,0.100001,0.092233,0.0,3.0,NaN,0.181818,0.333333,6.769443,1.750,...,NaN,NaN,inf,2.0,0.428571,inf,3.0,0.000000,0.000000,NaN
117,4.206897,4.775395,0.972816,1.0,0.0,NaN,0.090909,0.166667,0.566465,0.000,...,NaN,NaN,inf,3.0,1.000000,inf,7.0,2.333333,8.333333,inf

In [5842]:
# Fill NaN and Inf values with 0
IQR_DELTA = IQR_DELTA.replace([np.inf, -np.inf, np.nan], 0)
IQR_DELTA

,Backers,Funded,FundedRate,Success,CountryCode,VideoCount,ImageCount,TagCode,Goal,Period,...,#ofCreation,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments
484,0.155172,0.089989,0.092233,0.0,0.0,0.0,0.181818,1.166667,11.702099,0.000,...,0.0,0.0,0.0,0.0,0.571429,0.0,0.0,0.000000,0.000000,0.0
314,0.086207,0.172645,0.058252,0.0,0.0,0.0,0.181818,0.333333,1.292702,0.000,...,0.0,0.0,0.0,1.0,0.428571,0.0,0.0,0.000000,0.000000,0.0
73,0.379310,0.775937,0.086408,0.0,2.5,0.0,0.636364,0.666667,0.636479,0.000,...,0.0,0.0,0.0,1.0,0.571429,0.0,0.0,0.000000,0.000000,0.0
463,0.172414,0.101098,0.092233,0.0,0.5,0.0,0.181818,0.166667,0.353435,0.125,...,0.0,0.0,0.0,0.0,0.428571,0.0,0.0,0.000000,0.000000,0.0
148,0.120690,0.055549,0.024272,0.0,0.0,0.0,1.090909,0.333333,0.082307,1.250,...,0.0,0.0,0.0,0.0,0.428571,0.0,1.0,1.000000,0.666667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,3.189655,1.777997,0.933981,1.0,0.5,0.0,2.454545,0.333333,0.014525,0.375,...,0.0,0.0,0.0,1.0,0.857143,0.0,1.0,2.333333,5.000000,0.0
727,0.172414,0.101098,0.092233,0.0,2.0,0.0,0.181818,1.166667,2.185237,3.375,...,0.0,0.0,0.0,0.0,0.714286,0.0,0.0,0.000000,0.000000,0.0
204,0.310345,0.471051,0.033010,0.0,0.0,0.0,1.000000,0.000000,0.566465,0.000,...,0.0,0.0,0.0,0.0,0.428571,0.0,0.0,0.000000,0.000000,0.0
380,0.155172,0.100001,0.092233,0.0,3.0,0.0,0.181818,0.333333,6.769443,1.750,...,0.0,0.0,0.0,2.0,0.428571,0.0,3.0,0.000000,0.000000,0.0
117,4.206897,4.775395,0.972816,1.0,0.0,0.0,0.090909,0.166667,0.566465,0.000,...,0.0,0.0,0.0,3.0,1.000000,0.0,7.0,2.333333,8.333333,0.0

In [5843]:
IQR_MAX = IQR_DELTA.max(axis=1)
IQR_MAX

484    11.702099
314     1.292702
73      2.500000
463     0.500000
148     1.824561
         ...
597     5.000000
727     3.375000
204     1.000000
380     6.769443
117     8.333333
Length: 767, dtype: float64

In [5844]:
for i in range(1, 30):
    df_outlier = df_numeric[(IQR_MAX > i) & ~df_numeric['Success']]
    print(f"Threshold: {i}-IQR, # of outliers: {len(df_outlier)}, % of outliers: {round(len(df_outlier) / len(df) * 100, 1)}%")

Threshold: 1-IQR, # of outliers: 440, % of outliers: 57.4%
Threshold: 2-IQR, # of outliers: 325, % of outliers: 42.4%
Threshold: 3-IQR, # of outliers: 249, % of outliers: 32.5%
Threshold: 4-IQR, # of outliers: 151, % of outliers: 19.7%
Threshold: 5-IQR, # of outliers: 104, % of outliers: 13.6%
Threshold: 6-IQR, # of outliers: 90, % of outliers: 11.7%
Threshold: 7-IQR, # of outliers: 70, % of outliers: 9.1%
Threshold: 8-IQR, # of outliers: 58, % of outliers: 7.6%
Threshold: 9-IQR, # of outliers: 49, % of outliers: 6.4%
Threshold: 10-IQR, # of outliers: 45, % of outliers: 5.9%
Threshold: 11-IQR, # of outliers: 42, % of outliers: 5.5%
Threshold: 12-IQR, # of outliers: 38, % of outliers: 5.0%
Threshold: 13-IQR, # of outliers: 37, % of outliers: 4.8%
Threshold: 14-IQR, # of outliers: 37, % of outliers: 4.8%
Threshold: 15-IQR, # of outliers: 35, % of outliers: 4.6%
Threshold: 16-IQR, # of outliers: 34, % of outliers: 4.4%
Threshold: 17-IQR, # of outliers: 32, % of outliers: 4.2%
Threshold: 18-IQR, # of outliers: 29, % of outliers: 3.8%
Threshold: 19-IQR, # of outliers: 27, % of outliers: 3.5%
Threshold: 20-IQR, # of outliers: 25, % of outliers: 3.3%
Threshold: 21-IQR, # of outliers: 23, % of outliers: 3.0%
Threshold: 22-IQR, # of outliers: 21, % of outliers: 2.7%
Threshold: 23-IQR, # of outliers: 19, % of outliers: 2.5%
Threshold: 24-IQR, # of outliers: 14, % of outliers: 1.8%
Threshold: 25-IQR, # of outliers: 14, % of outliers: 1.8%
Threshold: 26-IQR, # of outliers: 13, % of outliers: 1.7%
Threshold: 27-IQR, # of outliers: 12, % of outliers: 1.6%
Threshold: 28-IQR, # of outliers: 12, % of outliers: 1.6%
Threshold: 29-IQR, # of outliers: 12, % of outliers: 1.6%

Given the success rate is ~28%, threshold of 15-IQR seems reasonable.

In [5845]:
IQR_OUTLIER_THRESHOLD = 15
df_outlier = df_numeric[IQR_MAX > IQR_OUTLIER_THRESHOLD]
df_outlier

,Backers,Funded,FundedRate,Success,CountryCode,VideoCount,ImageCount,TagCode,Goal,Period,...,#ofCreation,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments
402,1097,41057.33,179.9,1,3,1,18,5,22826.53,30,...,8,1,0,2,24,39,56,7,54,20
123,288,7458.00,372.9,1,1,1,23,9,2000.00,17,...,2,8,5,27,5,12,51,4,14,2
565,639,58328.00,116.7,1,1,0,26,5,50000.00,30,...,1,0,0,0,12,30,39,8,38,8
704,1170,80247.00,45.9,2,1,0,9,5,175000.00,45,...,1,0,0,0,11,25,47,10,64,3
638,1328,132661.00,132.7,1,1,1,9,11,100000.00,33,...,1,0,0,0,11,1,12,6,23,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,620,27722.00,693.1,1,1,0,18,2,4000.00,29,...,8,4,9,20,15,19,36,12,174,49
582,178,4617.00,461.7,1,11,0,30,5,1000.00,17,...,4,2,0,0,5,15,29,5,15,31
513,56,2503.31,1645.0,1,3,4,4,2,152.18,30,...,1,0,0,0,1,0,1,0,0,0
166,1,1.00,0.0,2,1,0,3,14,559000.00,45,...,1,0,0,0,3,0,1,2,0,0
551,0,0.00,0.0,2,1,0,0,8,350000.00,30,...,1,0,0,0,3,0,0,0,0,0

In [5846]:
df = df.drop(df_outlier.index)

## 2.4. Data type conversion

In [5847]:
df.describe()

,Backers,Funded,FundedRate,Success,CountryCode,VideoCount,ImageCount,TagCode,Goal,Period,...,#ofCreation,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,...,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,39.296131,3501.104330,49.433750,1.764881,2.343750,0.266369,6.242560,7.717262,19401.245134,33.511905,...,2.108631,0.133929,0.334821,0.842262,6.880952,0.325893,0.857143,1.757440,2.339286,0.316964
std,82.579809,7400.063945,106.507951,0.424389,2.695582,1.059567,10.027047,3.962244,35737.664182,11.884435,...,3.020810,0.657351,1.678152,2.125454,5.346486,1.142349,2.261017,2.971164,5.880155,1.328068
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,10.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,5.000000,2000.000000,29.000000,...,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,276.500000,6.650000,2.000000,1.000000,0.000000,1.000000,7.000000,7000.000000,30.000000,...,1.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,2982.000000,89.650000,2.000000,3.000000,0.000000,9.000000,11.000000,20000.000000,37.250000,...,1.000000,0.000000,0.000000,0.000000,10.000000,0.000000,1.000000,3.000000,1.000000,0.000000
max,829.000000,48034.000000,1333.400000,2.000000,15.000000,12.000000,85.000000,15.000000,250000.000000,60.000000,...,20.000000,8.000000,29.000000,15.000000,44.000000,13.000000,15.000000,25.000000,43.000000,20.000000

In [5848]:
df['Success'] = df['Success'] == 1
df['Country'] = df['Country'].astype('category')
df['CountryCode'] = df['CountryCode'].astype('category')
df['Tag'] = df['Tag'].astype('category')
df['TagCode'] = df['TagCode'].astype('category')
df['StartDate'] = pd.to_datetime(df['StartDate'])
df['EndDate'] = pd.to_datetime(df['EndDate'])
df['Location'] = df['Location'].astype('category')
df['LocationCode'] = df['LocationCode'].astype('category')
df['SNS'] = df['SNS'].astype('bool')

# 3. Feature Selection

## 3.1. `Project ID`

In [5849]:
df.drop("Project ID", axis=1, inplace=True)

## 3.2. `Title`, `ShortDescription`

Is there a way to extract useful feature from the title and description?
Fow now, we will drop the title column.

In [5850]:
df.drop(["Title", "ShortDescription"], axis=1, inplace=True)

## 3.3. `Funded`

`Funded` column is directly related to the target variable, and also a lagging indicator (후행지표)

In [5851]:
df.drop("Funded", axis=1, inplace=True)

## Checking the number of unique values of categorical variables

In [5852]:
df[df.select_dtypes('category').columns].nunique()

Country         368
CountryCode      13
Tag             125
TagCode          15
Location        417
LocationCode     14
dtype: int64

## 3.4. `Country`, `Tag`, `Location`

Given the small number of data points, we will drop the `Country`, `Tag` and `Location` column,
since using them might cause ***overfitting***.

In [5853]:
df.drop(["Country", "Tag", "Location"], axis=1, inplace=True)
df.drop(["CountryCode", "TagCode", "LocationCode"], axis=1, inplace=True)

## Possible overfitting

`#ofCommenters`, `#ofComments` have shown indications of a possible overfitting.

In [5854]:
# df.drop(["#ofCommenters", "#ofComments"], axis=1, inplace=True)

## 4.X. Visualization

In [5855]:
df

,Backers,FundedRate,Success,VideoCount,ImageCount,Goal,Period,StartDate,EndDate,SNS,...,#ofSuccess,#ofInvest,#ofInvestSuccess,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments,is_train
484,1,0.0,False,0,0,250000.00,30,2015-11-18,2015-12-18,False,...,0,0,0,2,0,0,0,0,0,True
314,5,3.5,False,0,4,35000.00,30,2015-11-17,2015-12-17,False,...,0,0,1,3,0,0,0,0,0,True
73,32,18.4,False,1,9,21446.11,30,2015-11-16,2015-12-16,False,...,0,0,1,10,0,0,0,0,0,True
463,0,0.0,False,0,0,1000.00,29,2015-11-18,2015-12-18,True,...,0,0,0,3,0,0,0,0,0,True
148,17,7.0,False,0,14,10000.00,40,2015-11-17,2015-12-28,True,...,0,0,0,9,0,1,3,2,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,195,105.7,True,0,29,8000.00,27,2015-11-18,2015-12-16,False,...,0,0,1,12,1,1,7,15,2,False
727,0,0.0,False,0,0,53434.79,57,2015-11-19,2016-01-15,False,...,0,0,0,1,0,0,0,0,0,False
204,28,12.9,False,0,13,20000.00,30,2015-11-17,2015-12-17,False,...,1,0,0,9,0,0,0,0,0,False
380,1,0.0,False,0,0,148118.89,44,2015-11-17,2015-12-31,False,...,0,3,2,3,2,3,0,0,0,False
117,254,109.7,True,0,1,20000.00,30,2015-11-17,2015-12-17,False,...,0,29,3,13,2,7,7,25,11,False

# 5. Feature Engineering

In [5856]:
df['SuccessRate'] = df['#ofSuccess'] / df['#ofCreation']
df.drop(['#ofSuccess', '#ofCreation'], axis=1, inplace=True)

In [5857]:
# df['InvestSuccessRate'] = df['#ofInvestSuccess'] / df['#ofInvest']
df.drop(['#ofInvestSuccess', '#ofInvest'], axis=1, inplace=True)

## 5.1. Maybe we need to normalize some features by period...

In [5858]:
normalizing_columns = [
    # 'Backers', 'Goal',
    # 'VideoCount', 'ImageCount',
    '#ofCommenters', '#ofComments',
    'Total_Updates', 'Updates_Likes', 'Updates_Comments'
]

# df[normalizing_columns] = df[normalizing_columns].div(df['Period'], axis=0)
# df.drop(['Period'], axis=1, inplace=True)

## 5.2. One-hot encoding

Apply one-hot encoding to categorical variables.

In [5859]:
df = pd.get_dummies(df, columns=df.select_dtypes(include=['category']).columns)

## 5.3. `#ofCommenters`, `#ofComments`, `Total_Updates`, `Updates_Likes`, `Updates_Comments`

These columns have shown negative impact on the model performance.
We need to find a way to make them more useful.

In [5860]:
# updates_columns = ['Updates_Likes', 'Updates_Comments']
# df[updates_columns] = df[updates_columns].div(df['Total_Updates'], axis=0)
# df[updates_columns] = df[updates_columns].replace([np.inf, -np.inf, np.nan], 0)
# df.drop(updates_columns + ['Total_Updates'], axis=1, inplace=True)
# 
# df['CommenterRatio'] = df['#ofCommenters'] / df['Backers']
# df['CommentsPerCommenter'] = df['#ofComments'] / df['#ofCommenters']
# df['CommenterRatio'] = df['CommenterRatio'].replace([np.inf, -np.inf, np.nan], 0)
# df['CommentsPerCommenter'] = df['CommentsPerCommenter'].replace([np.inf, -np.inf, np.nan], 0)
# df.drop(['#ofCommenters', '#ofComments'], axis=1, inplace=True)

In [5861]:
df

,Backers,FundedRate,Success,VideoCount,ImageCount,Goal,Period,StartDate,EndDate,SNS,Friends,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments,is_train,SuccessRate
484,1,0.0,False,0,0,250000.00,30,2015-11-18,2015-12-18,False,0,2,0,0,0,0,0,True,0.000
314,5,3.5,False,0,4,35000.00,30,2015-11-17,2015-12-17,False,0,3,0,0,0,0,0,True,0.000
73,32,18.4,False,1,9,21446.11,30,2015-11-16,2015-12-16,False,0,10,0,0,0,0,0,True,0.000
463,0,0.0,False,0,0,1000.00,29,2015-11-18,2015-12-18,True,67,3,0,0,0,0,0,True,0.000
148,17,7.0,False,0,14,10000.00,40,2015-11-17,2015-12-28,True,988,9,0,1,3,2,0,True,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,195,105.7,True,0,29,8000.00,27,2015-11-18,2015-12-16,False,0,12,1,1,7,15,2,False,0.000
727,0,0.0,False,0,0,53434.79,57,2015-11-19,2016-01-15,False,0,1,0,0,0,0,0,False,0.000
204,28,12.9,False,0,13,20000.00,30,2015-11-17,2015-12-17,False,0,9,0,0,0,0,0,False,0.125
380,1,0.0,False,0,0,148118.89,44,2015-11-17,2015-12-31,False,0,3,2,3,0,0,0,False,0.000
117,254,109.7,True,0,1,20000.00,30,2015-11-17,2015-12-17,False,0,13,2,7,7,25,11,False,0.000

# 6. Feature Selection

In [5862]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 672 entries, 484 to 117
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Backers           672 non-null    int64
 1   FundedRate        672 non-null    float64
 2   Success           672 non-null    bool
 3   VideoCount        672 non-null    int64
 4   ImageCount        672 non-null    int64
 5   Goal              672 non-null    float64
 6   Period            672 non-null    int64
 7   StartDate         672 non-null    datetime64[ns]
 8   EndDate           672 non-null    datetime64[ns]
 9   SNS               672 non-null    bool
 10  Friends           672 non-null    int64
 11  #ofRewards        672 non-null    int64
 12  #ofCommenters     672 non-null    int64
 13  #ofComments       672 non-null    int64
 14  Total_Updates     672 non-null    int64
 15  Updates_Likes     672 non-null    int64
 16  Updates_Comments  672 non-null    int64
 17  is_train          672 non-null    bool
 18  SuccessRate       672 non-null    float64
dtypes: bool(3), datetime64[ns](2), float64(3), int64(11)
memory usage: 91.2 KB

In [5863]:
X = df.drop([
    'FundedRate',
    'Success',
    'StartDate',
    'EndDate',
], axis=1)

y = df['FundedRate']
y_logi = df['Success']

In [5864]:
X

,Backers,VideoCount,ImageCount,Goal,Period,SNS,Friends,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments,is_train,SuccessRate
484,1,0,0,250000.00,30,False,0,2,0,0,0,0,0,True,0.000
314,5,0,4,35000.00,30,False,0,3,0,0,0,0,0,True,0.000
73,32,1,9,21446.11,30,False,0,10,0,0,0,0,0,True,0.000
463,0,0,0,1000.00,29,True,67,3,0,0,0,0,0,True,0.000
148,17,0,14,10000.00,40,True,988,9,0,1,3,2,0,True,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,195,0,29,8000.00,27,False,0,12,1,1,7,15,2,False,0.000
727,0,0,0,53434.79,57,False,0,1,0,0,0,0,0,False,0.000
204,28,0,13,20000.00,30,False,0,9,0,0,0,0,0,False,0.125
380,1,0,0,148118.89,44,False,0,3,2,3,0,0,0,False,0.000
117,254,0,1,20000.00,30,False,0,13,2,7,7,25,11,False,0.000

# 7. Preparing train & test set

Using previously marked `is_train` column, we will split the dataset into train and test set.

In [5865]:
target_column = 'FundedRate'

X_train = X[X['is_train']].drop(['is_train'], axis=1)
y_train = y[X['is_train']]
y_train_logi = y_logi[X['is_train']]

X_test = X[~X['is_train']].drop(['is_train'], axis=1)
y_test = y[~X['is_train']]
y_test_logi = y_logi[~X['is_train']]

# 8. Feature Scaling

Scale all numeric variables to have a mean of 0 and a standard deviation of 1.
(One-hot encoded variables, which is type of uint8, is excluded)

In [5866]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaling_columns = X.select_dtypes(include=['int64', 'float64']).columns

scaler.fit(X_train[scaling_columns])
X_train[scaling_columns] = scaler.transform(X_train[scaling_columns])
X_test[scaling_columns] = scaler.transform(X_test[scaling_columns])

## 8.a. Upon trials and errors, it is concluded that the range of some variables are too wide, we may need non-linear transformation to make the distribution more even.

## `Backers`, `Goal`, `Funded`

In [5867]:
from sklearn.preprocessing import PowerTransformer

transformer = PowerTransformer()
transforming_columns = ['Backers', 'Goal']

transformer.fit(X_train[transforming_columns])
X_train[transforming_columns] = transformer.transform(X_train[transforming_columns])
X_test[transforming_columns] = transformer.transform(X_test[transforming_columns])

In [5868]:
X_train

,Backers,VideoCount,ImageCount,Goal,Period,SNS,Friends,#ofRewards,#ofCommenters,#ofComments,Total_Updates,Updates_Likes,Updates_Comments,SuccessRate
484,-0.834747,-0.251458,-0.632907,2.061781,-0.294801,False,-0.483751,-0.878292,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982
314,-0.549541,-0.251458,-0.205262,1.357689,-0.294801,False,-0.483751,-0.693479,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982
73,0.746735,0.631111,0.329295,0.907234,-0.294801,False,-0.483751,0.600212,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982
463,-0.910523,-0.251458,-0.632907,-1.058191,-0.379233,True,-0.396862,-0.693479,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982
148,0.149322,-0.251458,0.863851,0.082521,0.549510,True,0.797549,0.415399,-0.278782,0.070718,0.556676,-0.020431,-0.222731,-0.148982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,1.894802,-0.251458,2.788254,2.061781,1.056097,True,0.303444,2.817967,-0.278782,0.502258,-0.213775,0.519146,-0.222731,-0.148982
349,-0.910523,-0.251458,-0.632907,-0.759331,-0.294801,False,-0.483751,-1.063105,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982
574,1.783435,-0.251458,2.574431,0.515580,-0.379233,False,-0.483751,0.045773,6.487588,3.523039,2.097578,4.116326,-0.222731,-0.148982
242,-0.910523,-0.251458,-0.632907,0.515580,2.238132,False,-0.483751,-0.878292,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982
465,-0.910523,-0.251458,-0.632907,-0.487675,-0.294801,False,-0.483751,-0.878292,-0.278782,-0.360822,-0.599001,-0.380149,-0.222731,-0.148982

# 9. Oversampling

We're not going to use oversampling for this project.

In [5869]:
# from imblearn.over_sampling import SMOTE
# 
# sm = SMOTE(random_state=42, sampling_strategy='minority')
# X_res, y_res = sm.fit_resample(X_train, y_train)
# y_res.value_counts()

# 10. Model: Linear Regression

In [5870]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [5871]:
print(model.intercept_)
pd.DataFrame({'column': X_train.columns, 'coef': model.coef_.squeeze()})

45.58522499168562

              column       coef
0            Backers  54.223980
1         VideoCount  -1.959448
2         ImageCount -14.765653
3               Goal -24.783395
4             Period  -6.175683
5                SNS   7.099135
6            Friends  -4.106239
7         #ofRewards  -4.830115
8      #ofCommenters  26.157088
9        #ofComments   4.703384
10     Total_Updates -14.400724
11     Updates_Likes  18.119013
12  Updates_Comments  -3.753043
13       SuccessRate   3.187792

In [5872]:
print(f"Train set score: {model.score(X_train, y_train)}")
print(f"Test set score: {model.score(X_test, y_test)}")

Train set score: 0.41586190040041027
Test set score: 0.3775337448555628

# 11. Model: Ridge Regression

In [5873]:
from sklearn.linear_model import Ridge

model = Ridge(alpha=0.1)
model.fit(X_train, y_train)

Ridge(alpha=0.1)

In [5874]:
print(model.intercept_)
pd.DataFrame({'column': X_train.columns, 'coef': model.coef_.squeeze()})

45.59040737228768

              column       coef
0            Backers  54.196380
1         VideoCount  -1.958844
2         ImageCount -14.758098
3               Goal -24.780498
4             Period  -6.175456
5                SNS   7.088472
6            Friends  -4.102846
7         #ofRewards  -4.824279
8      #ofCommenters  26.144500
9        #ofComments   4.719534
10     Total_Updates -14.384546
11     Updates_Likes  18.112803
12  Updates_Comments  -3.751325
13       SuccessRate   3.190094

In [5875]:
print(f"Train set score: {model.score(X_train, y_train)}")
print(f"Test set score: {model.score(X_test, y_test)}")

Train set score: 0.41586186583079543
Test set score: 0.3778089891714568

# 12. Model: Logistic Regression

In [5876]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train_logi)

LogisticRegression()

In [5877]:
print(model.intercept_)
pd.DataFrame({'column': X_train.columns, 'coef': model.coef_.squeeze()})

[-3.17419047]

              column      coef
0            Backers  2.231802
1         VideoCount -0.129800
2         ImageCount -0.434140
3               Goal -2.451968
4             Period -0.092034
5                SNS  0.255047
6            Friends -0.372955
7         #ofRewards -0.080522
8      #ofCommenters  0.228274
9        #ofComments  0.229893
10     Total_Updates  0.278305
11     Updates_Likes  1.198221
12  Updates_Comments -0.365277
13       SuccessRate -0.115977

In [5878]:
print(f"Train set score: {model.score(X_train, y_train_logi)}")
print(f"Test set score: {model.score(X_test, y_test_logi)}")

Train set score: 0.9106145251396648
Test set score: 0.8666666666666667